*{
    box-sizing: border-box;
   
}
html{
    overflow-x: hidden;
}
body{
    margin: 0;
   background-color: #F4F4F4;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.topheader,.topnav,main,.botton,.foot{
    margin: 0 auto;
    max-width: 1190px;
}


.rightnav{
    position: absolute;
    top:513.8px;
    right: 50%;
    margin-right: -655px;
    width: 50px;
    height: 436px;
}

.search{
    height: 121px;
    background-color: white;
}
.logo-bd{
    padding-top: 10px;
    padding-left: 22px;
}
.logo-td{
    display: none;
    margin-top: -14px;
}
.searchCha{
    position: fixed;
    height: 54px;
    width: 100%;
    margin-top: 0;
    z-index: 100;
    top: 0;
}
.topheader{
    display: flex;
}
.SearchTabBox{
    min-width: 610px;
    height: 22px;
    display: flex;
    padding-top: 10px;
    padding-left: 100px;
}
.searcha{
   margin-left: 5px;
   padding-top: 2px;
   cursor: pointer;
   font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    color:#F40;
    text-align: center;
    width: 36px;
    height: 22px;
}
.searcha:hover{
    
    background-color: #ffeee5;
}
.searchb{
    margin-left: 5px;
    padding-top: 2px;
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    font-weight: 700;
    text-align: center;
    color: #FFF;
    background-image: linear-gradient(to right,#ff9000 0,#ff5000 100%);
    background-repeat: repeat-x;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width: 36px;
    height: 22px;
    cursor: pointer;
}
/*搜索栏 右导航栏*/
@font-face {
    font-family: 'iconfont1';
    src: url('./images/font_2gqy0ghw9mo/iconfont.eot');
    src: url('./images/font_2gqy0ghw9mo/iconfont.eot?#iefix') format('embedded-opentype'),
        url('./images/font_2gqy0ghw9mo/iconfont.woff2') format('woff2'),
        url('./images/font_2gqy0ghw9mo/iconfont.woff') format('woff'),
        url('./images/font_2gqy0ghw9mo/iconfont.ttf') format('truetype'),
        url('./images/font_2gqy0ghw9mo/iconfont.svg#iconfont') format('svg');
  }
  
.font1{
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    color: #3C3C3C;
}
.font2{
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    color: #F2431E;
}
.font3{
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    color: #787876;
}
.font3:hover{
    color: #FF5000;
}
.font4{
    
}
/*字体*/
.location:hover,.mytb:hover,.myfav:hover,.qianniu:hover,.service:hover,.webnav:hover{
    background-color: white;
    border-left: 1px solid #E1E1E2;
    border-right: 1px solid #E1E1E2;
}
nav{
    height: 35.8px;
    background-color: #f5f5f5;
}
.topnav{
    display: flex;
    justify-content:space-between;
}
.navleft{
    display: flex;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 30px;
}
.location{
    width: 79px;
    height: 35px;
  
}

.drop-down-box{
    position: absolute;
    z-index: 999;
    display: none;
    padding-top: 0;
    margin-top: 5px;
    margin-left: -1px;
}
.drop-down-list{
    padding: 0;
    background-color: white;
    width: 268.4px;
    height: 278.6px;
    overflow-y: scroll;
    border-left: 1px solid #E1E1E2;
    border-right: 1px solid #E1E1E2;
    border-bottom: 1px solid #E1E1E2;
}

.drop-down-list li{
    text-align: left;
    padding-left: 8px;
    width: 250px;
    height: 29px;
    line-height: 29px;
}
.drop-down-list li:hover{
background-color: #f5f5f5;
}
.navicon img{
    margin-left: 5px;
   position: relative;
   top: 0;
}
.login-register{
width: 134px;
height: 35px;
}
.phone{
    width: 79px;
    height: 35px;
}
.navright{
   display: flex;
    margin: 0;
    padding: 0;
    text-align: center;
    line-height: 30px;
}
.navright a{
    padding-left: 4px;
}
.mytb{
width: 79px;
height: 35px;
}
.drop-down-tb{
    position: absolute;
    z-index: 999;
    display: none;
    padding-top: 0;
    margin-top: 5px;
    margin-left: -1px;
}
.down-list-tb{
    margin: 0;
    padding-left: 0px;
    padding-top: 8px;
    background-color: white;
    width: 83.6px;
    height: 73.6px;
    border-left: 1px solid #E1E1E2;
    border-right: 1px solid #E1E1E2;
    border-bottom: 1px solid #E1E1E2;
}
.down-list-tb li{
    text-align: left;
    padding-left: 0px;
    line-height: 28px;
    width: 82px;
    height: 28px;
}
.down-list-tb li:hover{
    background-color: #f5f5f5;
  
}
.myct{
width: 84px;
height: 35px;
}
.cart img{
    position: relative;
    top: 3px;
}
.myfav{
width: 84px;
height: 35px;
}
.favorite {
    font-family: "iconfont1";
    font-size: 12px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .list-cate{
    position: absolute;
    z-index: 999;
    display: none;
    padding-top: 0;
    margin-top: 5px;
    margin-left: -1px;
  }
  .ul-cate{
    margin: 0;
    padding-left: 0px;
    padding-top: 8px;
    background-color: white;
    width: 71.6px;
    height: 73.6px;
    border-left: 1px solid #E1E1E2;
    border-right: 1px solid #E1E1E2;
    border-bottom: 1px solid #E1E1E2;
  }
  .ul-cate li{
    padding-left: 0px; 
    text-align: left;
    line-height: 28px;
    width: 70px;
    height: 28px;
  }
  .ul-cate li:hover{
    background-color: #f5f5f5;
  }

.category{
    width: 67px;
    height: 35px;
}
.separator{
    width: 14.8px;
    height: 35px;
    color: #ddd;
    font-size: 12px;
}
.qianniu{
    width: 103px;
    height: 35px;
}
.list-qn{
    position: absolute;
    z-index: 999;
    display: none;
    padding-top: 0;
    margin-top: 5px;
    margin-left: -1px;
  }
  .ul-qn{
    margin: 0;
    padding-left: 0px;
    padding-top: 8px;
    background-color: white;
    width: 83.6px;
    height: 213.6px;
    border-left: 1px solid #E1E1E2;
    border-right: 1px solid #E1E1E2;
    border-bottom: 1px solid #E1E1E2;
  }
  .ul-qn li{
    padding-left: 0px;
    text-align: left;
    line-height: 28px;
    width: 82px;
    height: 28px;
  }
  .ul-qn li:hover{
    background-color: #f5f5f5;
  }

.service{
    width: 79px;
    height: 35px;
}
.list-ser{
    position: absolute;
    z-index: 999;
    display: none;
    padding-top: 0;
    margin-top: 5px;
    margin-left: -1px;
  }
  .ul-ser{
    margin: 0;
    padding-left: 0px;
    padding-top: 8px;
    background-color: white;
    width: 71.6px;
    height: 73.6px;
    border-left: 1px solid #E1E1E2;
    border-right: 1px solid #E1E1E2;
    border-bottom: 1px solid #E1E1E2;
  }
  .ul-ser li{
    padding-left: 0px;
    text-align: left;
    line-height: 28px;
    width: 70px;
    height: 28px;
  }
  .ul-ser li:hover{
    background-color: #f5f5f5;
  }
.webnav{
    width: 96px;
    height: 35px;
}
.webnav-box{
    position: absolute;
    z-index: 999;
    display: flex;
    padding-top: 0;
    margin-top: 5px;
    margin-left: -1px;
    right: 127.4px;
    width: 1189.6px;
    height: 312.4px;
    background-color: white;
    border-left: 1px solid #E1E1E2;
    border-right: 1px solid #E1E1E2;
    border-bottom: 1px solid #E1E1E2;
}
.webnav1{
    display: none;
}
.site-nav-sitemap-mod-bd ul li .hot{
    background-image: url("./images/hot.gif");
    position: absolute;
    width: 9px;
    height: 14px;
}
.site-nav-sitemap-mod-bd ul li .new{
    background-image: url("./images/new.gif");
    position: absolute;
    width: 9px;
    height: 14px;
}
.site-nav-sitemap-mod-hd{
    margin-top: -15px;
}
.site-nav-sitemap-mod-hd h4{
    text-align: left;
    padding-left: 10px;
}
.site-nav-sitemap-mod-bd ul li a{
    font: 12px/1.5 tahoma,arial,'Hiragino Sans GB','\5b8b\4f53',sans-serif;
    color: #3C3C3C;
    border-radius: 2px;
    padding: 4px 8px;
}
.site-nav-sitemap-mod-bd ul li a:hover{
    color: white;
}
.site-nav-sitemap-mod-bd ul{
    margin-top: -20px;
    margin-left: -35px;
    text-align: left;
}
.webnav-box1{
    width: 297px;
    height: 310.8px;
    border-right: 1px solid #E1E1E2;
}
.webnav-box1 ul{
    display:flex;
    flex-wrap:wrap;
}
.webnav-box1 ul li a:hover{
    background-color: #f50;
}
.webnav-box2{
    width: 297px;
    height: 280.8px;
    border-right: 1px solid #E1E1E2;
}
.webnav-box2 ul{
    display:flex;
    flex-wrap:wrap;
}
.webnav-box2 ul li a:hover{
    background-color: #a0b959;
}
.webnav-box3{
    width: 297px;
    height: 250.8px;
    border-right: 1px solid #E1E1E2;
}
.webnav-box3 ul{
    display:flex;
    flex-wrap:wrap;
}
.webnav-box3 ul li a:hover{
    background-color: #df61ab;
}
.webnav-box4{
    width: 297px;
    height: 220.8px;
}
.webnav-box4 ul{
    display:flex;
    flex-wrap:wrap;
}
.webnav-box4 ul li a:hover{
    background-color: #52a0e5;
}
.navmenu img{
    margin-left: 5px;
    position: relative;
    top: 0;
}
/*导航栏*/


main{
    background-color: #F4F4F4;
}
/**/
.mainhead{
    display: grid;
    grid-template-columns: 190px 10px 520px 10px 160px 10px 290px;
    grid-template-rows: 30px 10px 280px 10px 220px 10px 99px;
}
.toptitle{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 8;  
}
.ltheme{
    grid-row-start: 2;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: white; 
}
.midt1{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
}
.midt2{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 6;
}
.midu1{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 3;
    grid-column-end: 4;
}
.midu2{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 5;
    grid-column-end: 6;
}
.rtheme{
    grid-row-start: 3;
    grid-row-end: 8;
    grid-column-start: 7;
    grid-column-end: 8;
}
.topline{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 3;
    grid-column-end: 6;
}
/**/
.mainmidle{
    display: grid;
    grid-template-columns: 590px 10px 590px;
    grid-template-rows: 10px 658px 10px 264px 10px 70px 10px 540px 10px;
}
.goodstuff{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}
.shopping{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}
.purchase{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
}
.adlet{
    grid-row-start: 6;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 4;
}
.goodshop{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 2;
}
.live{
    grid-row-start: 8;
    grid-row-end: 9;
    grid-column-start: 3;
    grid-column-end: 4;
}
/**/
.mainfoot{
    display: grid;
    grid-template-columns: 590px 10px 240px 10px 340px;
    grid-template-rows: 290px 10px 768px 10px 255.4px 10px 962px 10px 8110.2px;
}
.fashion{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}
.newproduct{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 5;
    grid-column-end: 6;
}
.goodlife{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
}
.feature{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 6;
}
.cheap{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 6;
}
.hotproduct{
    grid-row-start: 7;
    grid-row-end: 8;
    grid-column-start: 1;
    grid-column-end: 6;
}
.guess{
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 6;
}
.end{
    height:80px ;
}
.help{
    height: 180px;
}
footer{
    height: 274.133px;
    background-color: white;
}
.foot{

}
